.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
body{
    background-image: linear-gradient(rgb(232, 248, 231), rgb(44, 193, 238));
}
.container{
    max-width:  955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33x;
    overflow-y: auto;
    margin-bottom: 23px;
    border-radius: 13px;
}

.message{
 background-color: rgb(247, 231, 231);
 width: 24%;
 padding: 10px;
 margin: 17px 12px;
 border: 2px solid black;
 border-radius: 10px;
}

.left{
 float: left;
 clear:both;

}

.right{
 float: right;
 clear:both;
}

#send-container{
    display:block;
    margin: auto;
    text-align: center;
    max-width: 1085px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInp{
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 22px;
    font-family: serif;
}

.btn{
    margin: 0 5px;
    width: 9%;
    cursor: pointer;
    border:2px solid black;
    border-radius: 6px;
    height: 34px;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgb(232, 248, 231), rgb(44, 193, 238));
}

h1{
    margin-top: 12px;
    font-family: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}